.canvas-template-modal {
  .ant-spin-nested-loading,
  .ant-spin-container {
    height: 100%;
    width: 100%;
  }
}

.template-list {
  .ant-modal-header {
    margin-bottom: 0;
  }
  .ant-modal-content {
    padding: 0;
  }
}