.content-panel-container {
  height: 100%;
  overflow: auto;

  .content-panel-radio-group {
    margin-left: 12px;

    label {
      width: 80px;
      text-align: center;
    }
  }
}

.content-panel-header {
  background-color: #fcfcf9;
  padding: 0 7%;
}

.content-panel-header-hit-top {
  border-bottom: 1px solid #eeeeee;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.work-space-top-search {
  margin-bottom: 0;
}
