.workspace-container {
  height: 100%;
}

.workspace-inner-container {
  height: 100%;
  background-color: #eef4f7;
}

.workspace-panel-container {
  height: 100%;
}

.workspace-content-panel {
  background-color: #eef4f7;
  border-color: hsla(60, 11%, 83%, 0.5);
  box-shadow: 0 1px 1px 0 hsla(60, 11%, 83%, 0.3);
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}
