.selected-content-container {
  .selected-content-hint-item {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;

    span {
      display: inline-block;
      margin-left: 4px;
    }
  }
}
