@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}


@layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
  
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;
  
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
  
      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;
  
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
  
      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;
  
      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;
  
      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;
  
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
  
      --ring: 240 5% 64.9%;
  
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 0 0% 0%;
      --foreground: 0 0% 98%;
      --card: 0 0% 0%;
      --card-foreground: 0 0% 98%;
      --popover: 0 0% 0%;
      --popover-foreground: 0 0% 98%;
      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;
      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;
      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;
      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 85.7% 97.3%;
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }
  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
      font-feature-settings: "rlig" 1, "calt" 1;
    }
  }
  
  @layer utilities {
    .step {
      counter-increment: step;
    }
  
    .step:before {
      @apply absolute inline-flex items-center justify-center font-mono text-base font-medium text-center border-4 rounded-full h-9 w-9 border-background bg-muted -indent-px;
      @apply ml-[-50px] mt-[-4px];
      content: counter(step);
    }
  }
  
  @media (max-width: 640px) {
    .container {
      @apply px-4;
    }
  }
  
  .lab-bg {
    --mask-offset: 100px;
    -webkit-mask: linear-gradient(
        to bottom,
        transparent,
        #fff var(--mask-offset) calc(100% - var(--mask-offset)),
        transparent
      ),
      linear-gradient(
        to right,
        transparent,
        #fff var(--mask-offset) calc(100% - var(--mask-offset)),
        transparent
      );
    mask: linear-gradient(
        to bottom,
        transparent,
        #fff var(--mask-offset) calc(100% - var(--mask-offset)),
        transparent
      ),
      linear-gradient(
        to right,
        transparent,
        #fff var(--mask-offset) calc(100% - var(--mask-offset)),
        transparent
      );
    /* -webkit-mask: radial-gradient(circle at 50% 50%,transparent 0,#fff calc(100% - var(--mask-offset)),transparent 100%); */
    -webkit-mask-composite: source-in, xor;
    mask-composite: intersect;
  }
  

  .span-wrap-styles {
    display:inline-block;
    vertical-align:top;
    text-decoration:inherit;
    text-wrap:balance
  }

  .shadow-heroImageInner,.shadow-lg {
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color)
}

.bg-elementGray {
    --tw-bg-opacity: 1;
    background-color: rgb(236 236 236/var(--tw-bg-opacity))
}

.bg-elementGray2 {
    --tw-bg-opacity: 1;
    background-color: rgb(244 244 244/var(--tw-bg-opacity))
}

.feature-header-highlight {
    display: inline-block;
    background-color: #000;
    margin: 0 -1rem;
    padding: 0 1rem;
    border-radius: 999px;
    position: relative;
    z-index: 1;
}