.knowledge-base-detail-directory-panel {
  overflow-x: auto !important;
}

.knowledge-base-directory-container {
  position: relative;
  min-width: 200px;
  overflow-x: auto;
  height: calc(100vh - 56px);
  .knowledge-base-directory-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 12px 0;
    .knowledge-base-directory-intro-small {
      padding-bottom: 16px;
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .delete-button {
      margin-left: 12px;
    }

    .intro-body {
      display: flex;
      flex-direction: row;
    }

    .intro-content {
      margin-left: 8px;
    }

    .intro-title {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.8);
    }

    .intro-meta {
      font-size: 10px;
      color: rgba(0, 0, 0, 0.8);
      margin-top: 4px;
    }
  }

  .knowledge-base-resource-list-container {
    min-width: 200px;
    overflow-x: auto;
  }
  .knowledge-base-directory-list-container {
    position: relative;
    min-width: 200px;
    overflow-x: auto;
  }
}
