.context-filter-popover {
  padding: 0;

  .arco-popover-content {
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
  }

  .arco-popover-arrow {
    display: none;
  }

  &__content {
    width: 240px;
    background: #fcfcf9;
    border-radius: 6px;
    border: 1px solid var(--gray6);
    padding: 8px 0;
  }

  .arco-divider-horizontal.arco-divider-with-text {
    margin: 0;
  }

  .arco-divider-text-center {
    color: rgb(0, 0, 0, 0.5);
    font-size: 10px;
  }

  .arco-popover-content {
    height: 100%;
  }

  .context-filter-popover__content {
    color: rgb(0, 0, 0, 0.6);

    .config-center {
      padding: 0 8px 8px;
      max-height: 400px;
      overflow-y: auto;
    }

    .config-title {
      padding: 0 8px;
      font-size: 12px;
      margin-bottom: 8px;
    }

    .config-module {
      font-size: 10px;

      .config-type {
        margin-bottom: 8px;

        &__title {
          margin-bottom: 6px;
        }

        &__content {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
        }

        &__item {
          display: flex;
          align-items: center;
          padding: 0;

          .arco-typography {
            margin: 0;
          }

          input[type='checkbox']:focus-visible + .arco-tag {
            box-shadow: 0 0 0 2px var(--color-primary-light-3);
          }

          input[type='checkbox']:focus-visible + .custom-checkbox-card {
            box-shadow: 0 0 0 2px var(--color-primary-light-3);
          }

          .custom-checkbox-card {
            display: flex;
            align-items: center;
            width: 107px;
            height: 18px;
            font-size: 10px;
            box-sizing: border-box;
            padding: 2px 4px;
            border: 1px solid var(--color-border-3);
            border-radius: 4px;
            cursor: pointer;
          }

          .custom-checkbox-card-mask {
            margin-right: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10px;
            width: 10px;
            border-radius: 2px;
            border: 1px solid var(--color-border-2);
            box-sizing: border-box;
          }

          .custom-checkbox-card-mask-check {
            color: transparent;
            stroke-width: 5;
          }

          .custom-checkbox-card-checked .custom-checkbox-card-mask-check {
            color: rgb(var(--primary-6));
          }

          .custom-checkbox-card-title {
            color: var(--color-text-1);
            font-size: 10px;
            width: 100%;
          }

          .custom-checkbox-card:hover,
          .custom-checkbox-card-checked,
          .custom-checkbox-card:hover .custom-checkbox-card-mask,
          .custom-checkbox-card-checked .custom-checkbox-card-mask {
            border-color: rgb(var(--primary-6));
          }

          .custom-checkbox-card-checked {
            background-color: #f1f1f0;
          }

          .custom-checkbox-card:hover .custom-checkbox-card-title,
          .custom-checkbox-card-checked .custom-checkbox-card-title {
            color: '#000';
            // font-weight: 500;
          }
        }
      }

      .config-type__item-radio {
        .custom-checkbox-card {
          .custom-checkbox-card-mask {
            border-radius: 50%;
          }
        }
      }

      .arco-checkbox-disabled .custom-checkbox-card:hover {
        cursor: not-allowed;
        border-color: var(--color-border-2);
        font-weight: normal;
      }

      .arco-checkbox-disabled .custom-checkbox-card .custom-checkbox-card-mask {
        background-color: #f1f1f0;
      }

      .arco-checkbox-disabled .custom-checkbox-card:hover .custom-checkbox-card-mask {
        border-color: var(--color-border-2);
      }
    }

    .filter-preview-title {
      font-size: 10px;
      margin-bottom: 6px;
    }

    .filter-preview {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;

      .filter-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 18px;
        font-size: 10px;
        line-height: 10px;
        box-sizing: border-box;
        border-radius: 4px;
        background: #f1f1f0;
        padding: 2px;

        .arco-typography {
          margin: 0;
          max-width: 200px;
          font-size: 10px;
          line-height: 10px;
          color: rgb(0, 0, 0, 0.6);
          vertical-align: middle;
        }

        .filter-item-limit {
          margin-left: 4px;
          color: #000;
        }
      }
    }

    .filter-empty {
      .arco-empty-image {
        font-size: 20px;
      }
      .arco-empty-description {
        font-size: 10px;
      }
    }

    .config-footer {
      padding: 8px 8px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      background: #fcfcf9;
      .arco-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        padding: 2px 8px;
        height: 18px;
        border-radius: 4px;
      }

      .config-footer-right {
        display: flex;
        gap: 8px;
      }
    }
  }
}
