.knowledge-base-directory-container {
  .knowledge-base-directory-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 12px 0;

    .intro-body {
      display: flex;
      flex-direction: row;
    }

    .intro-content {
      margin-left: 8px;
    }

    .intro-title {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.8);
    }

    .intro-meta {
      font-size: 10px;
      color: rgba(0, 0, 0, 0.8);
      margin-top: 4px;
    }
  }

  .knowledge-base-directory-search-container {
    padding: 0 12px;
    .knowledge-base-directory-search {
      margin-top: 12px;

      .arco-input-inner-wrapper {
        border-radius: 8px;
      }
    }
  }

  .knowledge-base-directory-list {
    height: calc(100vh - 125px - 68px - 8px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 12px;

    .resource-utility-info {
      margin-top: 8px;
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
    }

    .knowledge-base-directory-item {
      padding: 12px;
      border-radius: 8px;

      &:hover {
        background-color: #f1f1f0;
        cursor: pointer;

        .knowledge-base-directory-action {
          .action-summary {
            background-color: #dddddb;
          }

          .action-markdown-content,
          .action-external-origin-website {
            background-color: #dddddb;
          }
        }
      }

      .knowledge-base-directory-site-intro {
        display: flex;
        flex-direction: row;

        .site-intro-content {
          font-size: 10px;
          color: rgba(0, 0, 0, 0.6);

          p,
          a {
            display: inline-block;
            width: calc(100% - 40px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          a {
            &:hover {
              color: #00968f;
            }
          }
        }
      }

      .knowledge-base-directory-title {
        font-size: 14px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.8);
        margin-top: 8px;
      }

      .knowledge-base-directory-action {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        margin-top: 8px;
        font-size: 10px;

        .action-summary {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0 8px;
          border-radius: 999px;
          height: 24px;
          background-color: #f1f1f0;
          font-weight: 500;
        }

        .action-markdown-content,
        .action-external-origin-website {
          width: 24px;
          height: 24px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          border-radius: 999px;
          background-color: #f1f1f0;

          &:hover {
            background-color: #000;
            color: #fff;
          }

          &.active {
            background-color: #000;
            color: #fff;
          }
        }
      }

      .site-intro-content {
        width: calc(100% - 40px);
        margin-left: 8px;
      }

      .site-intro-icon {
        img {
          border-radius: 8px;
          width: 32px;
          height: 32px;
        }
      }

      .knowledge-base-directory-keyword-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 8px;
        gap: 8px;

        .knowledge-base-directory-keyword-item {
          padding: 0px 8px;
          height: 24px;
          border-radius: 999999px;

          border: 1px solid rgba(0, 0, 0, 0.1);

          span {
            font-size: 10px;
            color: rgba(0, 0, 0, 0.8);
          }
        }
      }
    }
  }
}
