.input-box-container {
  .input-box {
    padding: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    background: #fcfcf9;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  }

  .input-box textarea {
    background-color: transparent;
    min-height: 98px;
  }

  .input-box {
    textarea:focus {
      border-color: transparent;
    }
  }

  .search-box-container {
    border-radius: 10px;
    border: 2px solid transparent;

    transition: border-color 0.5s ease;
  }

  .search-box-container-active {
    border: 2px solid rgb(217, 217, 208);

    .input-box {
      border: 1px solid transparent;
    }
  }

  .toolbar {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      color: rgba(0, 0, 0, 0.5) !important;
    }

    button:hover {
      color: rgba(0, 0, 0, 0.8) !important;
      background: #e8e8e2 !important;
    }
  }
}
