.project-container {
  height: 100%;
  word-break: break-all;
}

.project-inner-container {
  height: 100%;
  background-color: #f3f3ee;
}

.project-panel-container {
  height: 100%;
}

.project-left-assist-panel {
  border-radius: 8px;
  background-color: #fcfcf9;
  border-color: hsla(60, 11%, 83%, 0.5);
  box-shadow: 0 1px 1px 0 hsla(60, 11%, 83%, 0.3);
}

.project-content-panel {
  border-radius: 8px;
  background-color: #fcfcf9;
  border-color: hsla(60, 11%, 83%, 0.5);
  box-shadow: 0 1px 1px 0 hsla(60, 11%, 83%, 0.3);
}

.project-panel-resize {
  background-color: #f3f3ee;
  width: 2px;
  margin: 0 3px;
  height: calc(100% - 4px);
  margin-top: 4px;
  transition: background-color;

  &:hover {
    background-color: #00968f;
  }
}
