.knowledge-base-detail-container {
  height: 100%;
  position: relative;

  .arco-drawer-content {
    padding: 0;
  }

  .kb-list-modal {
    .knowledge-base-list {
      padding: 0 16px;
    }
  }

  .knowledge-base-detail-header {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;
    position: relative;

    .knowledge-base-detail-navigation-bar {
      position: absolute;
    }

    .knowledge-base-detail-nav-switcher {
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      button.chat-input-assist-action-item {
        height: 24px;
        padding: 0 8px;
        border-radius: 8px;
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
          margin: 0 8px;
          max-width: 200px;
          overflow: hidden; /* 隐藏溢出内容 */
          white-space: nowrap; /* 禁止换行 */
          text-overflow: ellipsis; /* 超出内容显示省略号 */
        }

        &:hover {
          cursor: pointer;
          background-color: #f1f1f0;
        }
      }
    }
  }

  .knowledge-base-detail-panel-container {
    height: calc(100% - 40px);
  }

  .knowledge-base-detail-panel-resize {
    width: 1px;
    background-color: rgba(0, 0, 0, 0.08);

    &:hover {
      background-color: #00968f;
    }
  }
}
