.work-space-search {
  padding-top: 150px;
  padding-bottom: 120px;
  .logo {
    width: 86px;
    height: 86px;
  }

  .vercel [cmdk-root] {
    border-width: 1px;
    box-shadow: var(--cmdk-shadow);

    [cmdk-input] {
      border-bottom: none;
    }
  }

  .vercel .search-active {
    border-width: 1px !important;

    [cmdk-input] {
      border-bottom: 1px solid var(--gray6);
    }
  }
}
