.work-space-search {
  padding-top: 150px;
  padding-bottom: 120px;
  .logo {
    width: 86px;
    height: 86px;
  }

  .vercel [cmdk-root] {
    border-width: 3px;
    box-shadow: var(--cmdk-shadow);
  }

  .vercel .search-active {
    border-width: 1px !important;
  }
}
