.search-quick-open-container {
  margin-bottom: 8px;

  .quick-search-btn-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background: #dddddb;
    border-radius: 8px;
    cursor: pointer;
  }

  .search-quick-open-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    margin: 0 12px;
    border-radius: 8px;
    border: 1px solid hsla(60, 11%, 83%, 0.5);
    background-color: rgb(252, 252, 249);
    transition: border-color 0.5s ease;

    &:hover {
      cursor: pointer;
      border-color: #00968f;
    }

    .search-quick-open-text {
      font-size: 14px;
      font-weight: 400;
      color: rgb(100, 100, 95);
    }

    .search-quick-open-shortcuts {
      display: flex;
      flex-direction: row;
      align-items: center;

      .search-quick-open-shortcut-key {
        border-radius: 0.25rem;
        border: 1px solid hsla(60, 11%, 83%, 0.5);
        background-color: transparent;
        padding-left: 4px;
        padding-right: 4px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: rgb(100, 100, 95);
      }

      .search-quick-open-shortcut-key__right {
        margin-left: 2px;
      }
    }
  }
}
