.landing-modal {
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0 !important;

  .arco-modal-content {
    height: 100vh;
  }

  .landing-modal-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;

    .logo {
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        width: 32px;
        height: 32px;
      }

      span {
        font-size: 20px;
        font-weight: 700;
      }
    }

    .login-btn {
      width: 120px;
    }
  }
}

.span-wrap-styles {
  display: inline-block;
  vertical-align: top;
  text-decoration: inherit;
  text-wrap: nowrap;
  font-family: inherit;
}

.shadow-heroImageInner,
.shadow-lg {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
}

.bg-elementGray {
  --tw-bg-opacity: 1;
  background-color: rgb(236 236 236 / var(--tw-bg-opacity));
}

.bg-elementGray2 {
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 244 / var(--tw-bg-opacity));
}

.feature-header-highlight {
  display: inline-block;
  background-color: #000;
  margin: 0 -1rem;
  padding: 0 1rem;
  border-radius: 999px;
  position: relative;
  z-index: 1;
}
