.archive-content-container {
  .digest-list {
    padding: 0 16px;
    width: 100%;
    height: calc(100vh - 28px - 65px);
    padding: 0 60px;
    overflow-y: auto;
    box-sizing: border-box;
  }

  .arco-list-content {
    width: 100%;
  }
}

.digest-archive-header {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.16);
  padding: 12px 0;
  margin-top: 45px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.digest-archive-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;

  color: rgba(0, 0, 0, 0.8);
}
