.knowledge-base-detail-navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: center;

  .assist-action-item {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;

    &:hover,
    &.active {
      cursor: pointer;
      background-color: #f1f1f0;
      color: #00968f;
    }
  }

  button.assist-action-item {
    height: 24px;
    padding: 0 4px;
    border-radius: 8px;

    &:hover,
    &.active {
      cursor: pointer;
      background-color: #f1f1f0;
      color: #00968f;
    }
  }

  .conv-meta {
    display: flex;
    flex-direction: row;
    align-items: center;

    .conv-title {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
      margin-left: 4px;
    }
  }
}
