.config-manager {
  padding: 12px 0 4px 0;
  margin: 8px 12px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);

    &.config-item {
      padding: 0 4px;
      background: #f1f1f0;
      border: 1px solid #f1f1f0;
      cursor: pointer;
      &.active {
        border-color: #00968f;
      }
    }

    &-icon {
      margin-right: 4px;
    }
  }

  &__input {
    margin-top: 8px;
    border: 1px solid #00968f;
    border-radius: 8px;
    font-size: 10px;
    &-top {
      padding: 5px 8px 7px 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #f1f1f0;
      .arco-btn {
        margin-left: 4px;
        padding: 0 4px;
        box-sizing: border-box;
        font-size: 10px;
        height: 18px;
        border-radius: 4px;
      }
    }
    &-content {
      padding: 8px;
    }
  }
}
