.session-source-content {
  .session-source-list {
    display: flex;
    flex-direction: column;

    .source-list-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 32px;
      padding: 0 8px;

      &:not(:first-child) {
        margin-top: 4px;
      }
    }

    .view-more-item {
      height: auto;
      justify-content: flex-start;
      padding-bottom: 4px;
      padding-top: 4px;
    }
  }
}

.source-list-container.knowledge-base-directory-item {
  &:hover {
    background-color: transparent;
    cursor: default;

    .knowledge-base-directory-action {
      cursor: pointer;
    }
  }
}

.source-item-popover-container {
  .arco-popover-content {
    padding: 0;
    border-radius: 8px;
  }
}
