.session-source-content {
  .session-source-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;

    .source-list-item {
      min-width: 106px;
      flex: 1 1 calc(25% - 8px); /* 4 items per row with gap adjustment */
      background-color: #f1f1f0;

      &:hover {
        cursor: pointer;
        background-color: #dddddb;
      }
    }
  }
}

.source-list-container.knowledge-base-directory-item {
  &:hover {
    background-color: transparent;
    cursor: default;

    .knowledge-base-directory-action {
      cursor: pointer;
    }
  }
}

.source-item-popover-container {
  .arco-popover-content {
    padding: 0;
    border-radius: 8px;
  }
}

/* Media query for 2 columns layout when the container width is reduced */
@media (max-width: 800px) {
  .source-list-item {
    flex: 1 1 calc(50% - 8px) !important; /* 2 items per row with gap adjustment */
  }
}

/* Media query for 1 column layout when the container width is further reduced */
@media (max-width: 400px) {
  .source-list-item {
    flex: 1 1 100% !important; /* 1 item per row */
  }
}

.media-query-max-width-400 {
  .session-source-content .session-source-list .source-list-item {
    flex: 1 1 calc(50% - 8px); /* 4 items per row with gap adjustment */
  }
}

.media-query-max-width-800 {
  .session-source-content .session-source-list .source-list-item {
    flex: 1 1 calc(25% - 8px); /* 4 items per row with gap adjustment */
  }
}
