.digest-detail-container {
  .session-inner-container {
    padding: 0px 16px;
    height: calc(100vh - 90px - 60px);
    overflow-y: scroll;
  }

  .session-source-extra {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .topic-nav {
    max-width: 748px;
    width: 748px;
    margin: 0 auto;
  }
}

.session-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 24px;
}

.session-item-container {
  width: 100%;
  padding-bottom: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-container {
  line-height: 100%;
  height: 100%;
  overflow-y: scroll;

  position: relative;
}

.session-content-body {
  max-width: 748px;
  width: 748px;
}

.session-question {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}

.session-answer {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
}

.session-answer-actionbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;

  button {
    padding: 0 8px;
  }

  .session-answer-actionbar-left {
    margin-left: -8px;
  }
}

.session-input-box {
  position: absolute;
  bottom: 16px;
  width: 100%;

  .session-input-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.session-input-content {
  max-width: 748px;
  flex-grow: 1;
}

.session-inner-input-box {
  max-width: 748px;
  flex-grow: 1;
  margin-bottom: 0.5em;
  padding: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  background: #fcfcf9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;

  textarea {
    background-color: #fcfcf9;
    background: #fcfcf9;
  }

  textarea:focus {
    border-color: transparent;
  }

  &:hover {
    cursor: pointer;
  }
}

.session-source {
  max-width: 746px;
  width: 746px;
}

.session-source-list {
  a {
    text-decoration: none;
  }

  .arco-list-item {
    padding: 2px 0 !important;
  }

  .arco-pagination-item-active {
    background-color: rgb(var(--primary-6));
    color: white;
  }

  .session-source-list-item-action {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arco-list-pagination {
    margin-top: 8px !important;
  }

  div.arco-typography,
  p.arco-typography {
    margin-bottom: 0 !important;
  }

  .arco-list-item-action > li:not(:last-child) {
    margin-right: 4px;
  }
}

.session-related-question-content {
  div {
    padding: 8px 0px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);

    &:hover {
      p {
        color: #00968f;
      }
      cursor: pointer;
    }

    p {
      line-height: 12px;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
