.ai-copilot-operation-container {
  bottom: 0;
  width: 100%;
  box-shadow: 0px 4px 6px 0px rgba(16, 24, 40, 0.03);
  max-width: 444px;
  max-height: 100%;
  border-radius: 8px;
  overflow: hidden;

  box-sizing: border-box;

  .ai-copilot-operation-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .skill-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 4px;
    gap: 8px;
    position: relative;

    .skill-item {
      height: 24px;
      padding: 0 4px;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      background-color: #fff;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      transition:
        opacity 0.2s ease,
        visibility 0.2s ease;
      opacity: 1;
      visibility: visible;

      &.hide {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }

      .skill-title {
        margin-left: 4px;
      }

      .skill-item-title {
        display: inline-block;
        max-width: calc(100% - 8px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:hover {
        cursor: pointer;
        background-color: #f1f1f0;
      }
    }
  }

  .ai-copilot-chat-container {
    position: relative;
    background-color: #fff;
    z-index: 1;
    border-radius: 8px;

    .chat-setting-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;

      .chat-input-assist-action-item {
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
      }

      button.chat-input-assist-action-item {
        height: 24px;
        padding: 0 8px;
        border-radius: 8px;

        &:hover {
          cursor: pointer;
          background-color: #f1f1f0;
        }
      }
    }
  }

  .chat-input-container {
    // height: 125px;

    textarea {
      border-radius: 8px;
      background-color: transparent;
      outline: transparent;
      margin: 4px;
      margin-bottom: 0;
      box-sizing: border-box;
      width: calc(100% - 24px);
      border: none;
      resize: none;
    }
  }
}

.ai-copilot-chat-input-container {
  display: flex;
  flex-direction: column;

  .selected-skill {
    height: 32px;
    width: 100%;
    background-color: #f1f1f0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;

    .selected-skill-profile {
      display: flex;
      flex-direction: row;
      align-items: center;

      .selected-skill-name {
        font-weight: 600;
      }

      p {
        font-size: 12px;
        margin-left: 8px;
      }
    }

    button {
      height: 24px;
      border-radius: 8px;
    }
  }

  .ai-copilot-chat-input-body {
    display: flex;
    flex-direction: row;
  }
}
