.skill-detail {
  &__header {
    height: 40px;
    box-sizing: border-box;
    padding: 7px 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  &__back {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: #6f6f6f;
    &-icon {
      margin-right: 12px;
    }
  }
  &__content {
    padding: 32px 0;
    height: calc(100vh - 50px - 16px);
    overflow: scroll;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    &-wrap {
      position: relative;
      width: 70%;
    }
    &-top {
      height: 140px;
      min-width: 500px;
      display: flex;
      align-items: center;
      .skill-avatar {
        margin-right: 40px;
        flex-shrink: 0;
      }
      &-info {
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .skill-name {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 8px;
        }
      }
    }
    &-bottom {
      width: 100%;
    }
    &-tab {
      margin: 24px 0;
      height: 36px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .add-trigger-btn {
        border-radius: 8px;
        padding: 0 10px;
      }
    }
    .skill-action {
      &__invoke {
        margin-right: 12px;
      }
    }
  }
}
