.output-locale-list-menu {
  background-color: #fcfcf9 !important;
  &-title {
    padding: 8px 12px;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
  }
  &-item {
    &.active {
      background-color: #f1f1f0;
    }
  }
}
