.resource-base {
  word-break: break-all;
  overflow: scroll;
  height: 100%;
  padding: 16px;
  .resource-img {
    width: 100%;
    height: 200px;
  }
  .resource-url {
    .resource-icon {
      width: 47px;
      height: 39px;
      box-sizing: border-box;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
