.content-selector-btn {
  color: rgba(0, 0, 0, 0.5) !important;
  background: transparent;
}

.content-selector-btn-selected {
  background: var(--brand-color);
  color: #fff !important;

  span {
    color: #fff !important;
  }
}

.content-selector-btn:hover {
  background: var(--brand-color);
  color: #fff !important;

  span {
    color: #fff !important;
  }
}
