.skill-instance-list {
  &__top-container {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .skill-instance-list__search {
      .arco-input-inner-wrapper {
        border-radius: 8px;
      }
      .arco-input {
        font-size: 12px;
      }
    }
  }
  .instance-item {
    word-break: break-all;
    padding: 16px;
    margin: 8px;
    background-color: #fff;
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
    &-management {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &:hover {
      cursor: pointer;
      background: #eeeeee;
    }

    &__header {
      margin-bottom: 12px;
      display: flex;
      align-items: center;
    }

    &__profile {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__title {
      margin-left: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-name {
        font-size: 14px;
        font-weight: 500;
      }
      &-info {
        margin-top: 2px;
        display: flex;
        align-items: center;
        &-item {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }

    &__desc {
      color: rgba(0, 0, 0, 0.5);
      font-size: 12px;
      line-height: 24px;
      height: 4.53rem;
      overflow: hidden;
    }

    &__action {
      margin-left: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &-btn {
        color: rgb(var(--primary-6));
        border-radius: 8px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
