.knowledge-base-detail-container {
  height: 100%;
  position: relative;

  .arco-drawer-content {
    padding: 0;
  }

  .kb-list-modal {
    .knowledge-base-list {
      padding: 0 16px;
    }
  }

  .knowledge-base-detail-tab-container {
    &.arco-tabs-card > .arco-tabs-content,
    &.arco-tabs-card-gutter > .arco-tabs-content {
      border: none;
      padding-top: 0;
    }

    .knowledge-base-detail-header {
      .knowledge-base-detail-navigation-bar {
        .nav-btn {
          color: rgba(0, 0, 0, 0.5);
          font-size: 12px;
          height: 32px;

          &:hover {
            background-color: #f1f1f0;
          }

          &:not(:first-child) {
            margin-left: 8px;
          }
        }
      }

      .knowledge-base-detail-nav-switcher {
        width: calc(100% - 105px);
        margin-left: 0;

        .arco-tabs-header-nav {
          width: 100%;
        }
      }

      .arco-tabs-header {
        transform: translateY(4px);
      }

      .arco-tabs-header-title {
        border: none;
        border-radius: 8px;
        background-color: transparent;
        position: relative;
        margin-left: 2px;
        margin-right: 2px;

        .arco-tabs-header-title-text {
          max-width: 200px;
          overflow: hidden; /* 隐藏溢出内容 */
          white-space: nowrap; /* 禁止换行 */
          text-overflow: ellipsis; /* 超出内容显示省略号 */
        }

        &:not(:first-child):before {
          content: '';
          clear: both;
          position: absolute;
          left: 0;
          width: 2px;
          height: 40%;
          background-color: rgba(0, 0, 0, 0.1);
          display: block;
        }

        &:hover {
          background-color: #f1f1f0;

          &::before {
            background-color: transparent;
          }

          & + .arco-tabs-header-title {
            &::before {
              background-color: transparent;
            }
          }
        }

        .arco-tabs-header-title-text {
          font-size: 12px;
        }
      }

      .arco-tabs-header-nav::before {
        background-color: transparent;
        height: 0;
      }

      .arco-tabs-header-wrapper {
        &::before,
        &::after {
          border: none;
        }
      }

      .arco-tabs-header-title-active {
        position: relative;
        background-color: #f3f3ee;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        &:hover {
          .arco-icon-hover::before {
            background-color: #c9cdd4;
          }
        }

        &::before {
          content: '';
          clear: both;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100% !important;
          height: 2px !important;
          background-color: #00968f !important;
          display: block;
        }

        & + .arco-tabs-header-title {
          &::before {
            background-color: transparent;
          }
        }
      }
    }
  }

  .knowledge-base-detail-resource-panel {
    overflow: auto !important;
  }

  .knowledge-base-detail-header {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 4px;
    position: relative;

    .knowledge-base-detail-navigation-bar {
      // position: absolute;
      display: flex;
      flex-direction: row;
      position: relative;
      align-items: center;
      // padding-right: 16px;

      // &::after {
      //   content: '';
      //   clear: both;
      //   position: absolute;
      //   right: 0;
      //   width: 2px;
      //   height: 40%;
      //   background-color: rgba(0, 0, 0, 0.1);
      //   display: block;
      // }

      .assist-action-item {
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;

        &:hover,
        &.active {
          cursor: pointer;
          background-color: #f1f1f0;
          color: #00968f;
        }
      }

      button.assist-action-item {
        height: 24px;
        padding: 0 4px;
        border-radius: 8px;

        &:hover,
        &.active {
          cursor: pointer;
          background-color: #f1f1f0;
          color: #00968f;
        }
      }

      .conv-meta {
        display: flex;
        flex-direction: row;
        align-items: center;

        .conv-title {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.6);
          margin-left: 4px;
        }
      }
    }

    .knowledge-base-detail-nav-switcher {
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      transform: translateY(1px);

      .arco-tabs-header-title button.chat-input-assist-action-item {
        height: 24px;
        padding: 0 8px;
        border-radius: 8px;
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
          margin: 0 8px;
          max-width: 200px;
          overflow: hidden; /* 隐藏溢出内容 */
          white-space: nowrap; /* 禁止换行 */
          text-overflow: ellipsis; /* 超出内容显示省略号 */
        }

        &:hover {
          cursor: pointer;
          background-color: #f1f1f0;
        }
      }
    }
  }

  .knowledge-base-detail-panel-container {
    height: calc(100% - 40px);
  }

  .knowledge-base-detail-panel-resize {
    width: 1px;
    background-color: rgba(0, 0, 0, 0.08);
    position: relative;

    .toggle-left-panel-btn {
      position: absolute;
      width: 30px;
      height: 30px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.08);
      background: #ffffff;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }
    }

    &:hover {
      background-color: #00968f;
    }
  }
}
