.search-results {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 4px;

  :where(.css-dev-only-do-not-override-10341ku).ant-list-split .ant-list-item {
    border-bottom: none;
  }

  .search-results-content {
    flex: 1;

    .ant-list-item {
      padding: 12px;
      border-radius: 8px;
      transition: all 0.3s;
    }

    .search-results-skeleton-list {
      .ant-list-item {
        padding: 0px;
      }
    }

    .result-item-inner {
      display: flex;
      align-items: flex-start;
      width: 100%;
      gap: 16px;

      .ant-checkbox-wrapper {
        margin-top: 8px;
      }
    }

    .result-details {
      flex: 1;
      cursor: pointer;
      padding: 8px;
    }

    .result-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;

      .site-info {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .site-icon {
        width: 16px;
        height: 16px;
        border-radius: 8px;
      }

      .site-meta {
        .site-title {
          font-size: 14px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.8);
          margin-bottom: 4px;
        }

        .site-url {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.6);
          text-decoration: none;

          &:hover {
            color: #00968f;
          }
        }
      }

      .locale-tag {
        font-size: 12px;
        padding: 0 8px;
        border-radius: 4px;
        background-color: transparent;
        // color: #0958d9;
        border: none;
        display: flex;
        align-items: center;
        gap: 8px;

        span {
          display: flex;
          align-items: center;
          gap: 2px;
        }
      }
    }

    .result-title {
      font-size: 14px;
      color: #00968f;
    }

    .result-content {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.7);
      line-height: 1.6;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}

.search-result-popover {
  .ant-popover-inner {
    padding: 0;
  }

  .ant-popover-inner-content {
    padding: 0;
    width: 400px;
    max-height: 500px;
  }
}
.search-result-popover-content {
  width: 400px;
  max-height: 500px;
  display: flex;
  flex-direction: column;

  h4 {
    margin: 0;
    padding: 12px 16px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
    font-weight: 500;
  }

  .content-body {
    padding: 16px;
    padding-top: 0;
    overflow-y: auto;
    max-height: 452px; // 500px - header height
    line-height: 1.6;
    color: #333;
    font-size: 14px;
    white-space: pre-wrap;
    word-break: break-word;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f5f5f5;
    }
  }
}

.result-details {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 12px;
  border-radius: 8px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }
}
