.search-progress {
  margin-top: 12px;

  :where(.css-dev-only-do-not-override-10341ku).ant-timeline .ant-timeline-item-last > .ant-timeline-item-content {
    min-height: auto;
  }

  :where(.css-dev-only-do-not-override-10341ku).ant-timeline .ant-timeline-item {
    padding-bottom: 0;
  }

  :where(.css-dev-only-do-not-override-10341ku).ant-collapse .ant-collapse-content > .ant-collapse-content-box {
    padding: 16px 0;
  }

  :where(.css-dev-only-do-not-override-10341ku).ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 0;
  }

  .search-progress-header {
    cursor: pointer;
    margin-bottom: 8px;

    &:hover {
      opacity: 0.8;
    }

    .ant-btn {
      padding: 0;
      height: auto;

      &:hover {
        background: transparent;
      }
    }
  }

  .step-content {
    h4 {
      margin: 0;
      font-weight: 500;
    }

    .duration {
      color: rgba(0, 0, 0, 0.45);
      font-size: 12px;
    }

    ul {
      margin: 8px 0;
      padding-left: 20px;
    }
  }
}
