.search-home-container {
  position: relative;
  padding-bottom: 30px;
  width: 100%;
  height: 100%;
  min-height: 500px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  .search-home {
    width: 100%;
    height: calc(100% - 30px);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .search-home-inner {
    width: 85%;
    height: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .search-home-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .recent {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #ccfbf1;
        padding: 5px 8px;
        border-radius: 8px;
        color: #134e4a;
        font-size: 12px;

        .recent-button {
          margin-right: 4px;
          width: 33px;
          height: 20px;
          border-radius: 4px;
          background-color: #0f766e;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .guide-text {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 24px;
        white-space: nowrap;
      }
    }

    .ai-copilot {
      position: relative;
      width: 100%;
      background-color: transparent;
      z-index: 1;

      .ai-copilot-operation-container {
        position: relative;
      }

      .quick-start {
        .quick-start-item-container {
          padding: 6px 12px;
        }

        .quick-start-item {
          display: flex;
          align-items: center;
          padding: 5px 4px;
          width: 100%;
          border-radius: 8px;
          border: 1px solid rgba(0, 0, 0, 0.11);
          color: rgba(0, 0, 0, 0.7);
          background-color: #fcfcf9;
          cursor: pointer;
          &:hover {
            background-color: #f1f1f0;
          }

          .quick-start-item-emoji {
            font-size: 14px;
            margin-right: 8px;
            border-radius: 8px;
            height: 32px;
            width: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f1f1f0;
          }

          .quick-start-item-title {
            font-size: 14px;
          }
        }
      }
    }
  }

  .search-home-footer {
    padding: 4px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #343400;
    font-size: 12px;

    .search-home-footer-item {
      cursor: pointer;

      &:hover {
        color: #00968f;
      }

      .arco-dropdown-open {
        .search-home-footer-item-icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.search-home-input-container {
  width: 100%;
  max-width: 1024px;
  max-height: 100%;

  box-sizing: border-box;
  overflow-y: scroll;

  .search-home-input-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fcfcf9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
