.instance-invoke-modal {
  > :nth-child(2) {
    height: 100%;
  }

  .arco-modal-content {
    height: calc(100% - 48px);
  }

  .instance-invoke-modal-content {
    height: calc(100% - 48px);
    overflow-y: auto;
  }
}
