.knowledge-base-list {
  padding: 0 7%;
}

.knowledge-base-list-item-container {
  .arco-list-item-main {
    border-radius: 8px;
  }
}

.knowledge-base-list-item-action-container {
  .knowledge-base-list-see-item {
    border-radius: 8px;
  }

  .with-border {
    border: 1px solid #64645f;
  }

  .with-hover {
    &:hover {
      cursor: pointer;
      background-color: #64645f;

      .knowledge-base-list-see-item-text {
        color: white;
      }

      svg {
        color: white !important;
      }
    }
  }

  .knowledge-base-list-see-item-text {
    color: #64645f;
    font-size: 14px;
    margin-left: 4px;
    line-height: 1.5;
  }
}
