.today-container {
  .arco-list-header {
  }

  .today-header-title {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 24px;
    font-weight: bold;
  }
}

.digest-list {
  padding: 0 16px;
  width: 100%;
  height: calc(100vh - 400px);
  padding: 0 60px;

  .arco-list-content {
    width: 100%;
  }

  .feed-item-link {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      text-decoration-color: #64645f;
    }
  }

  .feed-item-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .arco-list-item-meta-title {
    font-size: 18px;
  }

  .arco-list-item-meta-description {
    .arco-typography {
      color: rgba(0, 0, 0, 0.6) !important;
    }
  }

  .arco-list-content {
    margin: 0 auto;
  }

  .arco-list-header {
    border-bottom: 1px solid transparent;
    padding: 0;

    .feed-title {
      margin-left: -20px;
    }
  }
}

.knowledge-base-list-container {
  .knowledge-base-list {
    padding: 0 16px;
  }

  .knowledge-base-list-item-container {
    .arco-list-item-main {
      border-radius: 8px;

      &:hover {
        background-color: #f1f1f0;
        cursor: pointer;
      }
    }
  }

  .knowledge-base-list-item-action-container {
    .knowledge-base-list-see-item {
      border-radius: 8px;
    }

    .with-border {
      border: 1px solid #64645f;
    }

    .with-hover {
      &:hover {
        cursor: pointer;
        background-color: #64645f;

        .knowledge-base-list-see-item-text {
          color: white;
        }

        svg {
          color: white !important;
        }
      }
    }

    .knowledge-base-list-see-item-text {
      color: #64645f;
      font-size: 14px;
      margin-left: 4px;
      line-height: 1.5;
    }
  }
}
