.account-setting {
  padding: 0 24px;
  height: 80vh;
  box-sizing: border-box;
  overflow: auto;
  &-title {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 500;
  }
  &-content {
    padding: 8px 12px;
  }
  &-update {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
  }

  .arco-upload-list-item-picture {
    border-radius: 100%;
    img {
      border-radius: 100%;
    }
  }
  .arco-form-size-large .arco-form-label-item > label {
    font-size: 16px;
    font-weight: bold;
  }
}
