.form-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  border-radius: 8px;
  margin-bottom: 8px;

  h6 {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }
}

.form-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  border-radius: 8px;
  transition: background-color 0.3s;

  &:hover {
    cursor: pointer;
    background-color: #f1f1f0;
  }

  .form-header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 8px;
  }
}

.form-header-right {
  display: flex;
  flex-direction: row;
  align-items: center;

  // .arco-select-view {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: flex-end;
  // }
}
