.resource-list {
  position: relative;
  word-break: break-all;
  width: 100%;
  overflow-y: auto;
  padding: 0 7%;

  .arco-list-item-action {
    li {
      width: 100%;
    }
  }

  .wait_index {
    padding: 0 4px;
    border-radius: 8px;
    color: rgb(202 138 4);
    &:hover {
      background: rgba(255, 255, 0, 0.1);
    }
  }

  .index_failed {
    padding: 0 4px;
    border-radius: 8px;
    color: rgb(220 38 38);
    &:hover {
      background: rgba(255, 0, 0, 0.1);
    }
  }

  .loading-box {
    .arco-spin-loading-layer-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 12px;
    }

    .parse_failed-tip {
      margin-top: -4px;
      font-size: 13px;
      font-weight: 400;
      color: rgb(220 38 38);
      padding: 2px 12px;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background: rgba(255, 0, 0, 0.1);
      }
    }
  }
}
