.ai-copilot-operation-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1024px;

  .ai-copilot-operation-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 12px;
    padding-bottom: 12px;
    background-color: #fcfcf9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .skill-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 8px;
    gap: 8px;

    .skill-item {
      height: 24px;
      width: 80px;
      padding: 0 4px;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 12px;

      .skill-title {
        margin-left: 4px;
      }

      .skill-item-title {
        display: inline-block;
        max-width: calc(100% - 8px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:hover {
        cursor: pointer;
        background-color: #f1f1f0;
      }
    }
  }

  .ai-copilot-chat-container {
    .chat-setting-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;

      .chat-input-assist-action-item {
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
      }

      button.chat-input-assist-action-item {
        height: 24px;
        padding: 0 8px;
        border-radius: 8px;

        &:hover {
          cursor: pointer;
          background-color: #f1f1f0;
        }
      }
    }
  }

  .chat-input-container {
    // height: 125px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    textarea {
      border-radius: 8px;
      background-color: transparent;
      outline: transparent;
      margin: 4px;
      margin-bottom: 0;
      box-sizing: border-box;
      width: calc(100% - 24px);
      border: none;
      resize: none;
    }
  }
}

.ai-copilot-chat-input-container {
  display: flex;
  flex-direction: column;

  .selected-skill {
    height: 32px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    background-color: #f1f1f0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;

    .selected-skill-profile {
      display: flex;
      flex-direction: row;
      align-items: center;

      .selected-skill-name {
        font-weight: 600;
      }

      p {
        font-size: 12px;
        margin-left: 8px;
      }
    }

    button {
      height: 24px;
      border-radius: 8px;
    }
  }

  .ai-copilot-chat-input-body {
    display: flex;
    flex-direction: row;
  }

  .ai-copilot-chat-input-action {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-right: 16px;
    padding-bottom: 16px;
  }
}
