.arco-drawer-content {
    overscroll-behavior-y: contain;
  }
  
  .conv-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0px;
    overflow-y: overlay !important;
  
    .conv-item-wrapper {
      // padding: 0 16px;
      cursor: pointer;
      user-select: none;
      -webkit-user-drag: none;
  
      &:hover {
        background: rgba(56, 114, 224, 0.08);
      }
    }
  
    .conv-item {
      padding: 8px 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
      border-top: 1px solid #f0f0f0;
  
      .conv-item-header {
        display: flex;
        align-items: center;
        height: 18px;
        min-height: 18px;
        justify-content: space-between;
        gap: 8px;
  
        .title {
          color: #0d1117;
          font-size: 14px;
          font-weight: 600;
          flex: 1;
          min-width: 0px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          justify-content: flex-start;
  
          .title-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: break-word;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
        }
  
        .date {
          font-weight: 400;
          font-size: 13px;
          color: #00000040;
        }
      }
  
      .conv-item-content {
        display: flex;
        align-items: center;
        line-height: 16px;
        justify-content: space-between;
        gap: 8px;
        color: #595959;
  
        .conv-item-content-text {
          font-weight: 500;
          font-size: 13px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: break-word;
          font-weight: 400;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
  
      .conv-item-footer {
        display: flex;
        align-items: center;
        line-height: 16px;
        justify-content: space-between;
        gap: 8px;
  
        .page-link {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          justify-content: flex-start;
          font-weight: 400;
          font-size: 13px;
          gap: 5px;
          flex: 1;
          max-width: 85%;
          position: relative;
          overflow: hidden;
          a {
            color: #a6a6a6;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;
            justify-content: flex-start;
            overflow: hidden;
            &:hover {
              text-decoration: underline;
            }
          }
  
          .text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: break-word;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            flex: 1;
          }
        }
      }
    }
  }
  