@font-face {
  font-family: "Alibaba PuHuiTi Regular";
  src: url("../fonts/Alibaba-PuHuiTi-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alibaba PuHuiTi Bold";
  src: url("../fonts/Alibaba-PuHuiTi-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Alibaba PuHuiTi Light";
  src: url("../fonts/AlibabaPuHuiTi-3-45-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}
