.call-to-action {
  color: white !important;
}

.wavy-line {
  animation: wave 3s infinite ease-in-out;
  transform-origin: center;
}

@keyframes wave {
  0% {
    d: path("M0,8 Q20,2, 40,8 T80,8 T100,8");
  }
  50% {
    d: path("M0,8 Q20,14, 40,8 T80,8 T100,8");
  }
  100% {
    d: path("M0,8 Q20,2, 40,8 T80,8 T100,8");
  }
}

@keyframes decorativeLine {
  0%,
  15% {
    opacity: 0;
    transform: rotate(var(--rotation)) scale(0);
  }
  25%,
  40% {
    opacity: 1;
    transform: rotate(var(--rotation)) scale(1);
  }
  50%,
  100% {
    opacity: 0;
    transform: rotate(var(--rotation)) scale(0);
  }
}

.animate-decorative-line {
  animation: decorativeLine 2s infinite ease-in-out;
  opacity: 0;
  --rotation: 0deg;
}

.video-modal {
  .ant-modal-content {
    padding: 8px !important;
    background: #000 !important;
  }

  .ant-modal-close {
    color: white !important;
    width: 50px !important;
    height: 50px !important;
    top: -50px !important;
    right: -50px !important;
    .ant-modal-close-icon {
      font-size: 24px !important;
    }
  }
}
