.skill-onboarding {
  margin-top: 32px;

  .manage-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .skill-recommend-title {
      color: rgba(0, 0, 0, 0.5);
      font-size: 12px;
      font-weight: 500;
    }

    .manager-btn {
      color: rgb(var(--primary-6));
      font-size: 12px;
      border-radius: 8px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .skill-recommend-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 4px;
  }
}
