.knowledge-base-detail-header {
  .chat-header__brand {
    display: flex;
    align-items: center;
    margin-left: 12px;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 1.5em;
      height: 1.5em;
    }

    span {
      font-size: 1.2em;
      font-weight: bold;
      margin-left: 0.5rem;
      color: var(--text-color);
    }
  }
}
