.skill-jobs {
  height: 100%;
  &__card {
    margin-top: 16px;
    padding: 18px 24px;
    border-radius: 8px;
    border: solid 1px #f0f0f0;
    &:hover {
      background-color: #eee;
    }
    &.disabled {
      cursor: not-allowed;
    }
    &-col {
      text-align: center;
    }
    &-event {
      display: flex;
      align-items: center;
      .event-icon {
        margin-right: 8px;
      }
      .event-message {
        width: calc(100% - 22px);
      }
    }
    &-contexts {
      width: 100%;
    }
    &-context {
      width: 100%;
      padding: 4px 0;
      display: flex;
      align-items: center;
      &-content {
        width: calc(100% - 40px);
        .context-item {
          width: 100%;
        }
      }
    }
    .ellipsis {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
