.app-sider {
    padding: 4px;
    background-color: #f3f3ee;
    height: 100vh;
    box-sizing: border-box;

    .sider-header {
        height: 100%;
    }

    .sider-menu-nav {
        height: calc(100% - 74px);

        .arco-menu-inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .arco-layout-sider-children {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sider-menu-title {
        font-size: 16px;
    }

    &.fixed {
        position: fixed !important;
        z-index: 100000;
    }

    .logo {
        &:hover {
            cursor: pointer;
        }

        margin-left: 16px;
        margin-top: 16px;
        margin-bottom: 24px;

        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            width: 34px;
            height: 34px;
        }

        span {
            font-size: 20px;
            color: #000000;
            font-weight: bolder;
            text-align: left;
            display: inline-block;
            margin-left: 4px;
        }
    }

    .semi-layout-sider-children {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-item {
        background-color: transparent;
    }

    .arco-menu-item {
        display: flex;
        align-items: center;
    }

    .arco-menu-light .arco-menu-item.arco-menu-selected,
    .arco-menu-light .arco-menu-group-title.arco-menu-selected,
    .arco-menu-light .arco-menu-pop-header.arco-menu-selected,
    .arco-menu-light .arco-menu-inline-header.arco-menu-selected {
        color: rgba(0, 0, 0, 0.9) !important;
    }

    .arco-menu-light .arco-menu-item.arco-menu-selected .arco-icon,
    .arco-menu-light .arco-menu-group-title.arco-menu-selected .arco-icon,
    .arco-menu-light .arco-menu-pop-header.arco-menu-selected .arco-icon,
    .arco-menu-light .arco-menu-inline-header.arco-menu-selected .arco-icon {
        color: rgba(0, 0, 0, 0.9) !important;
    }

    .arco-menu-light .arco-menu-item,
    .arco-menu-light .arco-menu-group-title,
    .arco-menu-light .arco-menu-pop-header,
    .arco-menu-light .arco-menu-inline-header {
        background-color: transparent;
    }

    .sider-footer {
        .invite-member {
            margin-bottom: 36px;
            padding: 4px 0;
            text-align: center;
            border-radius: 8px;
            color: var(--semi-color-text-0);
            border: 2px solid var(--semi-color-text-1);
            font-size: 14px;
            cursor: pointer;

            &:hover {
                background-color: var(--semi-color-text-0);
                color: #fff;
                transition: background-color 0.5s;
                // transition: color 0.5s;
            }
        }
    }
}
