.canvas-list {
  .ant-modal-content {
    .ant-modal-body {
      max-height: 60vh;
      min-height: 60vh;
      overflow: auto;
    }

    .ant-btn.ant-btn-icon-only {
      width: 32px;
      height: 32px;
      padding-inline: 0;
    }
  }
}
