.settings-container {
  width: 100%;
  height: 100%;
  padding: 24px;
  padding-top: 0;
  box-sizing: border-box;
  .settings-inner-container {
    max-width: 1024px;
    margin: 0 auto;
  }
  .settings-title {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    margin-bottom: 24px;
    margin-left: 20px;
  }
  .settings-tab {
    height: calc(100vh - 16px - 45px - 48px - 24px);
    overflow: auto; // 改为 auto
    scrollbar-width: none; // 火狐浏览器
    -ms-overflow-style: none; // IE 和 Edge

    &::-webkit-scrollbar {
      display: none; // Webkit 浏览器(Chrome, Safari)
    }
    &-title {
      display: flex;
      align-items: center;
    }
  }
  .arco-tabs-header-size-large.arco-tabs-header-nav-line
    .arco-tabs-header-title {
    font-size: 16px;
    .arco-tabs-header-title-text {
      display: inline-block;
    }
  }
  .setting-page-language-btn {
    width: 600px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    &.arco-dropdown-popup-visible {
      background-color: #ffffff;
      border: 1px solid #00968f;
      &:hover {
        background-color: #ffffff;
        border: 1px solid #00968f;
      }
      .arco-icon-down {
        transform: rotate(180deg);
      }
    }
  }
}
