.assist-action-item {
  color: rgba(0, 0, 0, 0.5) !important;
  font-size: 16px !important;

  &:hover,
  &.active {
    cursor: pointer;
    background-color: #f1f1f0 !important;
    color: #00968f;
  }
}

button.assist-action-item {
  height: 24px !important;
  padding: 0 4px !important;
  border-radius: 8px !important;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &.active {
    cursor: pointer;
    background-color: #f1f1f0 !important;
    color: #00968f !important;
  }
}
