.card-box {
  border: 1px solid rgba(0, 0, 0, 0.1);

  .card-img {
    width: 100%;
    height: 200px;
  }
  .card-icon-box {
    margin-right: 8px;
    width: 47px;
    height: 39px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    img {
      width: 25px;
      height: 25px;
    }
  }
}

.card-box:hover {
  background: #eeeeee;
}

.workspace-list {
  .arco-list-item-action {
    li {
      width: 100%;
    }
  }
}
