.app-sider {
  padding: 0;
  background-color: #f3f3ee;
  height: 100vh;
  box-sizing: border-box;

  .sider-header {
    height: 100%;
    box-sizing: border-box;
    .logo-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .logo-beta {
      margin-left: 4px;
      opacity: 0.8;
    }

    .logo-beta span {
      color: #fff !important;
      font-size: 10px;
      margin-left: 0;
    }
    .collapse-btn {
      height: 38px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
    }
  }
  .sider-header-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .arco-menu-selected {
    background-color: #e8e8e2 !important;
    &.setting-menu-item {
      .subscription-status {
        background-color: #faf9f9;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  .sider-menu-nav {
    height: calc(100% - 66px - 47px);
    position: relative;

    .arco-menu-inner {
      display: flex;
      flex-direction: column;
    }

    .arco-menu-item {
      height: 32px; // 设置每个元素高度为 32px
      line-height: 32px;
      font-size: 14px; // 设置字体大小为 14px
    }

    .recent-section {
      color: rgba(0, 0, 0, 0.5);
      font-size: 13px;

      .arco-menu-item {
        margin-bottom: 0;
        font-size: 13px;
        height: 32px;
        line-height: 32px;
      }

      .recent-section-title {
        padding-left: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 28px;
        box-sizing: border-box;

        .recent-section-title-text {
          font-weight: 500;
        }
      }

      .arco-menu-item {
        padding-left: 12px; // 调整缩进
      }

      .recent-section-title-more {
        font-size: 12px;
        display: flex;
        height: 32px;
        align-items: center;
        // color: #00968f;
        cursor: pointer;
        padding-left: 12px;
        &:hover {
          font-weight: 600;
        }
      }
    }
  }

  .arco-layout-sider-children {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sider-menu-title {
    font-size: 14px;
  }

  &.fixed {
    position: fixed !important;
    z-index: 100000;
  }

  .logo-box {
    position: relative;
    padding: 16px 12px 12px 12px;
  }

  .logo {
    &:hover {
      cursor: pointer;
    }

    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 34px;
      height: 34px;
    }

    span {
      font-size: 20px;
      color: #000000;
      font-weight: bolder;
      text-align: left;
      display: inline-block;
      margin-left: 10px;
    }
  }

  .semi-layout-sider-children {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-item {
    background-color: transparent;
  }

  .arco-menu-collapse {
    .custom-menu-item {
      padding: 0 0 0 10px;
    }
  }

  .custom-menu-item {
    &:hover {
      background-color: rgba(232, 232, 227) !important;
      border-radius: 4px;
    }
  }

  .setting-menu-item {
    &:hover {
      background-color: rgba(232, 232, 227) !important;
      border-radius: 4px;
      .subscription-status {
        background-color: #faf9f9;
        color: rgba(0, 0, 0, 0.7);
      }
    }
    .subscription-status {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      background-color: #e9e5e5;
      padding: 0 12px;
      font-size: 12px;
      font-weight: 500;
      border-radius: 16px;
    }

    .setting-icon {
      padding: 0px 8px;
      margin-right: -8px;
      display: inline-block;

      &:hover {
        background-color: rgba(232, 232, 227) !important;
        border-radius: 4px;
      }
    }
  }
  .setting-menu-item-collapse {
    .menu-settings {
      padding: 0;
      margin-left: -8px;
    }
  }

  .menu-setting-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;

    svg {
      margin-right: 0px !important;
    }

    .menu-settings {
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .username {
        display: inline-block;
        margin-left: 8px;

        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0px;
        max-width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .more-info-menu-item-collapse {
    &:hover {
      background-color: rgba(232, 232, 227) !important;
    }
  }

  .more-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    .more-info-btn {
      font-size: 13px;
      height: 40px;
      min-width: 40px;
      background-color: transparent;
      padding: 0 4px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        margin-left: 4px;
      }
      &:hover {
        background-color: rgba(232, 232, 227) !important;
      }
    }
  }

  .arco-menu-light .arco-menu-item.arco-menu-selected,
  .arco-menu-light .arco-menu-group-title.arco-menu-selected,
  .arco-menu-light .arco-menu-pop-header.arco-menu-selected,
  .arco-menu-light .arco-menu-inline-header.arco-menu-selected {
    color: rgba(0, 0, 0, 0.9) !important;
  }

  .arco-menu-light .arco-menu-item.arco-menu-selected .arco-icon,
  .arco-menu-light .arco-menu-group-title.arco-menu-selected .arco-icon,
  .arco-menu-light .arco-menu-pop-header.arco-menu-selected .arco-icon,
  .arco-menu-light .arco-menu-inline-header.arco-menu-selected .arco-icon {
    color: rgba(0, 0, 0, 0.9) !important;
  }

  .arco-menu-light .arco-menu-item,
  .arco-menu-light .arco-menu-group-title,
  .arco-menu-light .arco-menu-pop-header,
  .arco-menu-light .arco-menu-inline-header {
    background-color: transparent;
  }

  .sider-menu-inner {
    height: calc(100% - 118px);
    overflow-y: auto;
  }

  .sider-menu-inner-collapse {
    height: calc(100% - 118px - 36px);
    overflow-y: auto;
  }

  .sider-footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 16px); // 根据 sider 宽度调整
    background-color: #f3f3ee;
    padding: 8px 0;
    border-top: 1px solid #e8e8e2;

    .invite-member {
      margin-bottom: 36px;
      padding: 4px 0;
      text-align: center;
      border-radius: 8px;
      color: var(--semi-color-text-0);
      border: 2px solid var(--semi-color-text-1);
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background-color: var(--semi-color-text-0);
        color: #fff;
        transition: background-color 0.5s;
        // transition: color 0.5s;
      }
    }
  }

  .sider-import-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .sider-import-btn {
      width: 200px;
      height: 40px;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 0 14px;
      color: rgba(0, 0, 0, 0.6);

      &:hover {
        background-color: rgb(232, 232, 227) !important ;
      }

      .sider-menu-title {
        margin-left: 12px;
        font-weight: bold;
      }
    }
  }
}
