.moveable-control-hidden {
  .moveable-control {
    background: transparent !important;
    border-color: transparent !important;
  }
  .moveable-origin {
    background: transparent !important;
    border-color: transparent !important;
  }
}

.moveable-control-show {
  .moveable-control {
    background: #00968f !important;
  }
  .moveable-origin {
    background: transparent !important;
    border-color: transparent !important;
  }
}

// Add embedded launchpad styles
.embedded-launchpad {
  margin: 0;
  box-shadow: none;
  border-radius: 0;

  .embedded-chat-panel {
    box-shadow: none;
  }

  .ai-copilot-operation-body {
    padding: 0.5rem;
  }
}

.react-flow__node-group {
  padding: 0 !important;
}
